.input-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  flex-direction: column;

  &__label {
    font-size: 14px;
    font-weight: 600;
  }

  &__input {
    width: 100%;

    padding: 10px 10px;
    margin: 10px 0px;

    font-size: 18px;

    background-color: transparent;

    border: 1px solid rgba(230, 230, 230, 0.2);
    border-radius: 5px;

    outline: none;

    &:focus {
      border: 3px solid rgb(42, 252, 164);
    }
  }
}
