.charts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 10px;

  .blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 16px;
    padding-bottom: 16px;

    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .block {
      flex-grow: 1;
      width: 100%;
      text-align: center;
    }
  }

  .cluster {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    gap: 16px;

    .chart {
      position: relative;

      width: 100%;

      flex-grow: 1;

      @media (min-width: 768px) {
        width: 45%;
      }

      @media (min-width: 992px) {
        width: 20%;
      }
    }
  }

  .fullWidth {
    width: 100%;

    padding-bottom: 16px;

    canvas {
      height: 100%;
    }
  }
}
