.main {
  display: flex;

  .sidepanel__container {
    width: 0;

    transition: all 0.2s ease-in-out;

    &--active {
      width: 250px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;

    width: 100%;

    flex: 1 1 0;

    overflow-x: hidden;

    .content {
      flex: 1 1 1;

      padding: 0 16px;

      @media (min-width: 768px) {
        padding: 0px 24px;
      }

      @media (min-width: 1200px) {
        padding: 0px 30px;
      }
    }
  }
}
