.calendar {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;

  background-color: #2b2e3b;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    gap: 16px;

    padding: 16px;

    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__add-event {
    display: flex;
    justify-content: center;

    width: 100%;

    @media (min-width: 768px) {
      justify-content: flex-start;

      width: unset;
      min-width: 300px;
    }
  }

  &__date {
    text-align: center;
    h3 {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 300px;

    button {
      svg {
        margin: 0;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__days {
    display: flex;
    justify-content: space-between;

    padding: 0 24px;

    text-align: center;
  }

  &__day {
    width: calc((100% / 7));
  }

  &__rows {
    display: flex;
    flex-direction: column;

    padding: 0 24px 24px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 5px;

    width: calc((100% / 7));
    min-height: 90px;

    font-size: 14px;

    color: rgb(116, 116, 116);

    text-align: center;

    border: 1px solid rgb(207, 207, 207);

    p {
      margin: 0;
    }

    &--active {
      color: rgb(207, 207, 207);
      font-weight: 600;
    }
  }

  &__event {
    padding: 2px 5px;

    // background-color: rgb(75, 149, 179);
    border-radius: 10px;

    transition: all 0.2s ease-in-out;
    opacity: 0.8;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--tomato {
      background-color: rgb(213, 0, 0);
    }

    &--flamingo {
      background-color: rgb(230, 124, 115);
    }

    &--tangerine {
      background-color: rgb(244, 81, 30);
    }

    &--banana {
      background-color: rgb(246, 191, 38);
    }

    &--sage {
      background-color: rgb(51, 182, 121);
    }

    &--basil {
      background-color: rgb(11, 128, 67);
    }

    &--peacock {
      background-color: rgb(3, 155, 229);
    }

    &--blueberry {
      background-color: rgb(63, 81, 181);
    }

    &--lavender {
      background-color: rgb(121, 134, 203);
    }

    &--grape {
      background-color: rgb(142, 36, 170);
    }

    &--graphite {
      background-color: rgb(97, 97, 97);
    }

    p {
      color: white;
      font-size: 14px;
      font-weight: 500;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
