.money-cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  gap: 16px;
  padding-bottom: 16px;

  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
