.navigation {
  display: flex;
  align-items: center;

  padding: 0px 16px;

  min-height: 64px;

  @media (min-width: 768px) {
    padding: 0px 24px;

    min-height: 70px;
  }

  @media (min-width: 1200px) {
    padding: 0px 30px;
  }
}
